html,
body {
    font-family: 'Open Sans', sans-serif !important;
    font-display: swap;
    height: 100%;
}

#__next {
    height: 100%;
}

a {
    text-decoration: none !important;
}

.btn {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

input {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px !important;
}

.clickable {
    cursor: pointer;
}
