@import './global';
@import './bootstrap';

.hero {
    min-height: calc(100vh - 72px);
    background: linear-gradient(to right top, #f0f3fc, #c1bfd4);
    display: flex;
    align-items: center;
    justify-content: space-around;

    h1 {
        font-size: 64px;
        font-weight: bold;
        line-height: 64px * 1.6;
    }

    .btn-primary {
        height: 58px;
        padding-left: 20px;
        padding-right: 20px;
        margin-right: 20px;
    }

    h3 {
        margin-top: 20px;
    }

    .photo-section {
        position: relative;

        img {
            position: relative;
            z-index: 10;
        }

        .circle {
            position: absolute;
            border-radius: 50%;
            border: 30px solid transparent;

            &.first {
                width: 250px;
                height: 250px;
                border-color: orange;
                top: 0;
                left: 0;
                z-index: 9;
            }

            &.second {
                width: 280px;
                height: 280px;
                border-color: blue;
                bottom: -80px;
                right: 50px;
                z-index: 9;
            }
        }
    }

    .quantity {
        background-color: white;
        border-radius: 4px;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
            font-weight: 600;
            padding: 0px 10px;
        }
    }
}

.collection {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;

    .overlay {
        background-color: rgba($color: #000000, $alpha: 0.2);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 3;
    }

    img,
    h2 {
        position: absolute;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h2 {
        z-index: 4;
        padding: 30px;
        font-size: 36px;
        font-weight: 600;
        color: white;
    }

    a {
        position: absolute;
        z-index: 5;
        bottom: 40px;
        right: 40px;
        background-color: white;
        color: #111;
        padding: 14px 20px;
        border-radius: 4px;
    }
}

.collections-title {
    margin-top: 180px !important;
    margin-bottom: 40px !important;
}

.filter-sizes-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
}

.products-section {
    margin-top: 150px;
}

.products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

.single-product-page {
    & > .container {
        min-height: 75vh;
    }

    .product-container {
        min-height: 100vh;
        display: grid;
        place-items: center;

        .product-image {
            background-color: #f6f6f6;
        }

        .row {
            height: 100%;
            align-items: flex-start;
            width: 100%;

            .col-12 {
                height: 100%;

                &:nth-child(1) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                &:nth-child(2) {
                    padding-top: 50px;
                    padding-left: 40px;
                }
            }
        }
    }
}

.product-popover-panel {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba($color: #000000, $alpha: 0.1);
    border: 1px solid #f9f9f9;
    padding: 20px;
    z-index: 50;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.cart-popover {
    position: absolute;
    top: calc(100% + 15px);
    right: 0;
    background-color: white;
    z-index: 60;
    border-radius: 4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    box-shadow: 0px 2px 3px rgba($color: #333, $alpha: 0.15);
    width: 25vw;
    max-height: 500px;
}

.auth-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #000000, $alpha: 0.1);
        z-index: -1;
    }

    .panel {
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 4px 10px rgba($color: #333, $alpha: 0.15);
        padding: 30px;
        position: fixed;
        width: 30vw;
        height: 600px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .panel-form {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            form {
                width: 300px;
            }
        }
    }
}
